@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
	--primary-color: #131318;
	--secondary-color: #5a5a5d;
	--button-color: #ff5400;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Mulish", sans-serif;
}

/* shared-styles */
.container {
	width: 81%;
	max-width: 1170px;
}

h1 {
	color: var(--primary-color);
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

p {
	color: var(--secondary-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

main section {
	margin-top: 40px;
}

.btn {
	width: 141px;
	height: 52px;
	border-radius: 8px;
	background: var(--button-color);
	border: none;
	color: var(--white);
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

/* navbar styles */
.header {
	margin: 40px auto;
	min-height: 25px;
}

.header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar .logo .logo-special {
	color: var(--button-color);
}

.navbar .navlist {
	display: flex;
	gap: 36px;
	list-style: none;
}

.navbar .navlist .nav-item a {
	text-decoration: none;
	color: var(--secondary-color);
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.navbar .navlist .nav-item:first-child a {
	color: var(--button-color);
	font-weight: 700;
}

/* explore section style */
#explore {
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url("../Images/Group 13 (1) (1).png");
	background-repeat: no-repeat;
	border-radius: 16px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#explore .explore-text {
	max-width: 549px;
}

#explore .explore-text h2 {
	text-align: center;
	color: var(--white);
	font-size: 52px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

#explore .explore-text p {
	text-align: center;
	color: var(--white);
	margin: 40px 0;
}

#explore .explore-form {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.3);
	display: inline-flex;
	padding: 13px;
	align-items: flex-start;
	gap: 20px;
}

#explore .explore-form input,
#explore .explore-form select {
	width: 141px;
	height: 40px;
	border-radius: 8px;
	border: none;
	background: var(--white);
	outline: none;
	padding: 10px;
}

#explore .explore-form input::placeholder,
#explore .explore-form select {
	color: rgba(19, 19, 24, 0.5);
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#explore .explore-form .explore-form-btn {
	width: 141px;
	height: 40px;
	border-radius: 8px;
	background: var(--button-color);
	border: none;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* tour section style */
#tour {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	min-height: 550px;
	justify-content: space-between;
}

#tour .tour-text {
	width: 45%;
	max-width: 469px;
}

#tour .tour-text ul {
	color: var(--secondary-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	padding-left: 30px;
}

#tour .tour-text ul li {
	padding-bottom: 24px;
	padding-top: 10px;
}

#tour .tour-text p {
	margin: 24px 0;
}
